.towns-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.town {
    margin:2px;
    padding:4px 8px;
    font-size:12px;
    background-color: #666666;
    border-radius: 5px;
    color: #ffffff;
    span {
        
    }
}